<h2>Contact Us</h2>
<form>
    <div class="please">
        <input type="text" id="first-name" placeholder="first name">
        <input type="text" id="last-name" placeholder="last name">
        <input type="text" id="e-mail" placeholder="email">
        <input type="text" id="subject" placeholder="subjectline">
    </div>
    <div class="work">
        <input type="text" id="message" placeholder="messagebox">
    </div>
    <div class="wow">
        <input type="submit" id="send" value="Send Data">
    </div>
</form>
<div class="feedback"></div>
