<article class="clearfix">
    <h3>What are GMO Foods?</h3>
    <figure>
        <img src="./img/cornfield.jpg" alt="placeholder image">
        <figcaption>Some corn growing in a field</figcaption>
    </figure>
    <p>Human beings began modifying foods in 10,000 BCE, through cultivation of plants for food. There have been many examples of foods that humans have caused to evolve into something more desirable. One example is corn, which 10,000 years ago was a wild,
        unedible wildgrass and is now, obviously, the juicy, versatile vegetable we know today. This cultivation (artificial selection) was an early form of genetic modification. By breeding the corn so that desirable qualities were passed down over generations,
        the DNA of the plant changed.</p>

    <p>Recently, genetic modification can happen instantaneously by directly modifying, removing, or replacing the genes that do specific things. Scientists have been able to create food that stays fresher for longer, food that has more nutrients than they
        do naturally, and food that is resistant to pets and diseases. As the technology advances, more foods will be modified with greater benefits to society. There has been no evidence that GMOs cause deleterious effects to human health.</p>
</article>
<article class="half-1">
    <h3>Food scarcity and malnutrition</h3>
    <p>Genetically modified foods have the potential to greatly reduce food scarcity and malnutrition. Scientists can already modify crops to grow in tougher conditions, and food can be shipped easier when they’re modified to stay fresh for
        longer amount of time.</p>

    <p>One main initiative is Golden Rice, which is rice that has been genetically modified to contain more vitamin A. Deficiency of vitamin A is common in developing countries -- up to 500,000 children each year go blind due to deficiency of vitamin A.
        Unfortunately, the adoption of Golden Rice as a substitute crop for plain rice has been halted by anti-GMO advocacy groups and public scepticism of science.</p>
</article>
<article class="half-2">
    <h3>Resistance to disease</h3>
    <p>In the mid 2000s, a disease called “citrus greening” was spreading across orange groves in Florida, the state that produces most of the United States’ orange juice supple. Citrus greening stunted the growth of the orange fruit and made the juice taste
        sour. It also proved resistant to traditional pesticides.</p>

    <p>Genetic modification, however, was able to stop the spread of the disease. An orange tree with the addition of a particular gene from spinach proved effective in growing oranges resistant to citrus greening. Once again, the obstacle to its widespread
        implementation is the opposition by anti-GMO groups and widespread public scepticism of science.</p>
</article>
